{% extends "base.html" %} {% block 'content' %}



<div class="card">
  <div class="card-body">
    
    <h5 class="card-title">{{title}}</h5>
    {% if messages %}
<div class="container">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="alert-box">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}

    <table class="table datatable">
      <thead>
        <tr>
          {% comment %} <th scope="col">grievance Id</th> {% endcomment %}
          <th scope="col">Enrollment</th>
          <th scope="col">HOD</th>
          <th scope="col">Directer</th>
          <th scope="col">semester</th>
          <th scope="col">Subject</th>
          
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr>
          {% comment %} <th>{{i.grievanceId}}</th> {% endcomment %}
          <td>{{i.Enrollment}}</td>
          {% if i.hod_Fk %}
          <td>{{i.hod_Fk}}</td>
          {% else %}
          <td ><p class"text-danger" style="color:red;" >Decline</p></td>
          {% endif %}
          {% if i.directer_Fk %}
          <td>{{i.directer_Fk}}</td>
          {% else %}
          <td ><p class"text-danger" style="color:red;" >Decline</p></td>
          {% endif %}
          <td>{{i.semester}}</td>
          <td>{{i.subject}} </td>
          
          <td>
            
            <a class="btn btn-primary" href="/grievanceMaster/Detailgrievance/{{i.grievanceId}}" >
              Detail
            </a>
                
            
            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  // JavaScript code to automatically dismiss the alert box after 3 seconds
  setTimeout(function() {
    
    document.getElementById('alert-box').style.display = 'none';
  }, 2000); // 3000 milliseconds = 3 seconds
</script>
{% endblock 'content' %}
